junk/
ft_spanner.synctex.gz
*.out
*.log
*.thm
*..synctex.gz
figs/bak/
snapshot/
*.aux
old/
figs/old/
*.synctex.gz
.config_latex
.latex_color
sariel_biblatex.sty
ESA/ft_spanner.bbl
ESA/ft_spanner.blg
ESA/ft_spanner.pdf
ESA/ft_spanner.vtc
